// app global css in SCSS form
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'Public Sans Extra Bold';
  src: url(../assets/font/Public_Sans/PublicSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'Public Sans Bold';
  src: url(../assets/font/Public_Sans/PublicSans-Bold.ttf);
}
@font-face {
  font-family: 'Public Sans Semi Bold';
  src: url(../assets/font/Public_Sans/PublicSans-SemiBold.ttf);
}
@font-face {
  font-family: 'Public Sans Medium';
  src: url(../assets/font/Public_Sans/PublicSans-Medium.ttf);
}
@font-face {
  font-family: 'Public Sans Regular';
  src: url(../assets/font/Public_Sans/PublicSans-Regular.ttf);
}
@font-face {
  font-family: 'Public Sans Light';
  src: url(../assets/font/Public_Sans/PublicSans-Light.ttf);
}
@font-face {
  font-family: 'Public Sans Extra Light';
  src: url(../assets/font/Public_Sans/PublicSans-ExtraLight.ttf);
}
@font-face {
  font-family: 'Public Sans Thin';
  src: url(../assets/font/Public_Sans/PublicSans-Thin.ttf);
}
@font-face {
  font-family: 'Public Sans Italic';
  src: url(../assets/font/Public_Sans/PublicSans-Italic.ttf);
}

@font-face {
  font-family: 'Public Sans Bold Italic';
  src: url(../assets/font/Public_Sans/PublicSans-BoldItalic.ttf);
}
@font-face {
  font-family: 'Public Sans Thin Italic';
  src: url(../assets/font/Public_Sans/PublicSans-ThinItalic.ttf);
}
.text-regular {
  font-family: 'Public Sans', serif;
}
.text-bold {
  font-family: 'Public Sans Bold', serif;
}
.text-thin {
  font-family: 'Public Sans Thin', serif;
}
.text-italic {
  font-family: 'Public Sans Italic', serif;
}
.text-bold-italic {
  font-family: 'Public Sans Bold Italic', serif;
}
.text-thin-italic {
  font-family: 'Public Sans Thin Italic', serif;
}
.radius-xs {
  border-radius: 4px;
}
.radius-sm {
  border-radius: 6px;
}
.radius-md {
  border-radius: 8px;
}
.radius-lg {
  border-radius: 12px;
}
.radius-xl {
  border-radius: 16px;
}
.text-dark {
  color: $dark;
}
.text-light-primary {
  color: $light-primary;
}
.text-light-secondary {
  color: $light-secondary;
}
.text-light-disable {
  color: $light-disable;
}
.h1 {
  font-family: 'Public Sans Extra Bold', sans-serif;
  font-style: normal;
  font-size: 64px;
  line-height: 80px;
}
.h2 {
  font-family: 'Public Sans Extra Bold', sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
}
.h3 {
  font-family: 'Public Sans Bold', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 48px;
}
.h4 {
  font-family: 'Public Sans Bold', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
}
.h5 {
  font-family: 'Public Sans Bold', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}
.h6 {
  font-family: 'Public Sans Bold', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}
.subtitle1 {
  font-family: 'Public Sans Semi Bold', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.subtitle2 {
  font-family: 'Public Sans Semi Bold', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}
.body1 {
  font-family: 'Public Sans Regular', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.body2 {
  font-family: 'Public Sans Regular', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}
.caption {
  font-family: 'Public Sans Regular', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}
.overline {
  font-family: 'Public Sans Bold', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
